.hidden {
  display: none;
}

.modal,
.modal_background {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
.modal {
  z-index: 1000;
  overflow-y: auto;
}
.modal_body {
  margin: 50px;
  padding: 20px;
  background-color: white;
}
.modal_body img {
 max-width: 100%;
}
.modal_background {
  z-index: 900;
  background-color: rgba(0, 0, 0, 0.75);
}
.modal_close-btn {
  display: block;
}
body .modal-is-opened {
  overflow: hidden;
}
